@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1646873539684') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\f0179";
}

.icon-xiangxiaxiaosanjiao:before {
  content: "\e60d";
}

.icon-weizhi:before {
  content: "\e8ff";
}

.icon-xiangji:before {
  content: "\e8bc";
}

.icon-add:before {
  content: "\e664";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-arrow-right:before {
  content: "\e666";
}

.icon-close:before {
  content: "\e668";
}

.icon-direction-down:before {
  content: "\e66b";
}

.icon-direction-right:before {
  content: "\e66c";
}

.icon-direction-up:before {
  content: "\e66d";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-up-bold:before {
  content: "\e686";
}

.icon-close-bold:before {
  content: "\e687";
}

.icon-arrow-down-bold:before {
  content: "\e688";
}

.icon-minus-bold:before {
  content: "\e689";
}

.icon-arrow-right-bold:before {
  content: "\e68a";
}

.icon-select-bold:before {
  content: "\e68b";
}

.icon-sousuo:before {
  content: "\e603";
}

