@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1647010847771') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\f0179";
}

.icon-3fankuiyijiancheng:before {
  content: "\e85b";
}

.icon-fankui:before {
  content: "\e738";
}

.icon-yijianfankui:before {
  content: "\e662";
}

.icon-fankui1:before {
  content: "\e632";
}

.icon-yijianfankui1:before {
  content: "\e6ad";
}

.icon-yijianfankui2:before {
  content: "\e617";
}

.icon-shouji:before {
  content: "\e626";
}

.icon-yijianfankui3:before {
  content: "\e616";
}

.icon-tubiao_fankui:before {
  content: "\e612";
}

.icon-xiangxiaxiaosanjiao:before {
  content: "\e60d";
}

.icon-weizhi:before {
  content: "\e8ff";
}

.icon-yijianfankui4:before {
  content: "\e8a1";
}

.icon-yijianfankui5:before {
  content: "\e620";
}

.icon-im_fankui:before {
  content: "\e519";
}

.icon-fankui2:before {
  content: "\e61c";
}

.icon-yijianfankui6:before {
  content: "\e65f";
}

.icon-fanhuidingbu-:before {
  content: "\e646";
}

.icon-fankui3:before {
  content: "\e660";
}

.icon-xiangji:before {
  content: "\e8bc";
}

.icon-dingbu:before {
  content: "\e698";
}

.icon-fankui4:before {
  content: "\e699";
}

.icon-fankui5:before {
  content: "\e629";
}

.icon-add:before {
  content: "\e664";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-arrow-right:before {
  content: "\e666";
}

.icon-close:before {
  content: "\e668";
}

.icon-direction-down:before {
  content: "\e66b";
}

.icon-direction-right:before {
  content: "\e66c";
}

.icon-direction-up:before {
  content: "\e66d";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-up-bold:before {
  content: "\e686";
}

.icon-close-bold:before {
  content: "\e687";
}

.icon-minus-bold:before {
  content: "\e688";
}

.icon-arrow-right-bold:before {
  content: "\e689";
}

.icon-select-bold:before {
  content: "\e68a";
}

.icon-huidaodingbu:before {
  content: "\e70d";
}

.icon-arrow-left-bold1:before {
  content: "\e601";
}

.icon-sousuo:before {
  content: "\e603";
}

